* {
    box-sizing: border-box;
}
.Details{
    padding: 20px;
    background-color: gainsboro;
    
}
.Details__container {
    display: block;
    margin: auto;
    padding: 40px;
    width: 700px;
    height: 700px;
    background-color: #5c4242;
    border-radius: 15%;
}
.Details__img{
    margin: auto;
    padding: auto;
    display: block;
    border-radius: 10px;
    width: 300px;
    height: 150px;
}

img{
    border-radius: 30%;
    width: 300px;
    height: 250px;
}
h1{
    margin: auto;
    padding: 10px;
    color:rgb(45, 197, 197) ;
}
h3{
    margin: auto;
    padding-left: 10px;
    color: #4f5e96;
}
.Data__row p, small{
    color: gainsboro;
    padding-left: 30px;
    padding-bottom: 10px;
}